$mainColor: linear-gradient(294.28deg, #C8DCE6 0%, #B6CCDA 100%);
$decorColor: #FFFFFF;

@mixin headerText {
  font-weight: 55.6vh;
  font-size: 2vh;
  line-height: 3vh;
}

@mixin contentText {
  font-size: 7.1vh;
  line-height: 10vh;
  letter-spacing: 0.02em;
}

@mixin buttonText {
  font-weight: 55.6vh;
  font-size: 2.7vh;
  line-height: 4vh;
}