$mainColor: rgba(52, 98, 43, 0.6);

$mainGreen: rgba(52, 98, 43, 0.6);
$mainBeige: rgba(174, 168, 109, 0.6);
$mainRed: rgba(163, 79, 79, 0.6);
$mainBlue: rgba(59, 64, 100, 0.6);

$decorColor: rgb(236, 225, 225);

:root {
  --main-bg-color: rgba(52, 98, 43, 0.6);
}

@mixin headerText {
  font-weight: 55.6vh;
  font-size: 2vh;
  line-height: 3vh;
}

@mixin contentText {
  font-size: 7.1vh;
  line-height: 10vh;
  letter-spacing: 0.02em;
}

@mixin buttonText {
  font-weight: 55.6vh;
  font-size: 2.7vh;
  line-height: 4vh;
}